body {
    background-color: black;
}

.question {
    margin-left: 50px;
    color: white;
    margin-top: 50px;
}

.choices {
    border: 3px solid red;
    width: 70%;
    margin-left: 50px;
    background-color: white;
}

.choice-block {
    border: 1px solid black;
}

.choice-text {
    text-align: center;
}
*/
img {
    height: 250px;
    margin: 30px 30px 0px 70px;
    border: 1px solid black;
}

.row {
    display: inline-block;
}

#submit {
    margin-left: 33%;
    font-size: 30px;
    margin-bottom: 50px;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.imgContainer {
    position: relative;
}

h1 {
    position: absolute;
    top: 20px; 
    left: 330px; 
    width: 100%; 
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px grey;
}

img {
    float: left;
    margin-right: 40px;
    height: 340px;
    width: 45%;
    margin-top: 10px;
}

.h1 {
    /* position: absolute; */
    top: 20px;
    right: 100px;
    /* margin-right: 260px; */
    /* width: 100%;  */
    color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    position: absolute;
    top: 220px; 
    left: 170px; 
    width: 100%;
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px grey;
}

.start {
    position: absolute;
    top: 420px;
    left: 480px;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 30px;
    color: white;
    background-color: grey;
    font-weight: bold;
}

.start:hover {
    background-color: darkgrey;
}

/* .start {
    background-color: darkgrey;
    position: absolute;
    bottom: 20px;
    left: 400px;
    font-size: 25px;
    padding: 5px;
} */

h3 {
    position: absolute;
    top: 200px; 
    left: 200px;  
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px grey;
}

/* Restaurant html*/

#mapid { height: 180px; }

/*party page*/

/* .penuts {
    position: absolute;
    top: 25%;
    right: 5%;
}

.wb {
    position: absolute;
    top: 25%;
    left: 5%;
}

h2 {
    font-size: 80px;
    position: absolute;
    top: -10%;
    width: 100%;
    text-align: center;
    color: blue;
}

h4 {
    font-size: 30px;
    position: relative;
    top: 60px;
    width: 100%;
    text-align: center;
    color: blue;
}

.party {
    background: yellow;
}

.restart {
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
    font-size: 20px;
} */